.header {
    background-color: #83c1d9;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  
    .header-top {
      background-color: #c3ebf5;
      padding: 5px 5vw;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .logo-avatar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
  
        .logo img {
          height: 80px;
          cursor: pointer;
          object-fit: contain;
        }
  
        .avatar-section {
          display: flex;
          align-items: center;
        }
      }
    }
  
    .menu-wrapper {
      background-color: #84c3d3;
      display: flex;
      justify-content: center;
      align-items: center;
        padding: 10px 5vw;  
      .hamburger {
        display: none;
        font-size: 28px;
        cursor: pointer;
        padding: 10px;
      }
  
      .menu {
        display: flex;
        justify-content: center;
  
        .navbar-custom .nav-links {
          display: flex;
          gap: 15px;
  
          .nav-link {
            padding: 10px 15px;
            color: black;
            border-radius: 30px;
            transition: background-color 0.3s;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
          }
  
          .nav-link.active {
            background-color: orange;
            color: white !important;
            border: 2px solid orange;
          }
        }
      }
    }
  
    // Mobile & Tablet
    @media (max-width: 1024px) {
      .menu-wrapper {
        flex-direction: column;
        align-items: flex-start;
  
        .hamburger {
          display: block;
          margin-left: 5vw;
        }
  
        .menu {
          display: none;
          width: 100%;
          justify-content: center;
  
          &.open {
            display: flex;
          }
  
          .navbar-custom .nav-links {
            flex-direction: column;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
  