.container-2 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

.account-tab-area-start {
  padding: 30px 0;
  background-color: #f0f2f5;
}

/* Sidebar style */
.sidebar-left {
  background-color: #072D44;
  color: white;
  padding: 20px 10px;
  border-radius: 8px;
  min-height: 100%;
}

.user-info {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-role {
  font-size: 14px;
  color: #ccc;
}

/* Menu buttons */
.sidebar-menu .nav-link {
  color: white;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  font-size: 16px;
}

.sidebar-menu .nav-link:hover {
  background-color: #5790AB;
  color: white;
}

.sidebar-menu .nav-link.active,
.sidebar-menu .nav-link:active,
.sidebar-menu .nav-link.show {
  background-color: #064469 !important;
  color: #fff !important;
  font-weight: 600;
}

/* Nội dung bên phải */
.content-area {
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #d9d9d9;
}
